<main class="container">
    <h1>Login</h1>
    <form action="/api/sessions/login" method="POST" class="form-group w-50">
        <label>Email</label>
        <input type="email" name="email" class="form-control">
        <label>Password</label>
        <input type="password" name="password" class="form-control">
        <button class="btn btn-outline-dark w-100">Enviar</button>
    </form>
    <a href="/register">Regístrate</a>
    <div>
        <a class="btn btn-dark" href="/api/sessions/github">Github</a>
    </div>
</main>